body {
  background: #F6FAFC;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #0A46B7;
}

h1, h3#error {
  text-align: center;
  /* border: 1px solid red; */
}

span#title {
  cursor: pointer;
}

form {
  /* border: 1px solid black; */
  width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

input#title, #category, #submit, button {
  border-radius: 5px;
  border: 1px solid #0A46B7;
  background: #fff;
  color: #0A46B7;
  cursor: pointer;
}

input#picture {
  /* border: 1px solid red; */
  width: 25%;
}

hr {
  width: 50%;
  border: 1px solid #0A46B7;
  background: #0A46B7;
}

.categories {
  /* border: 1px solid red; */
  width: 50%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
}

.cards {
  /* border: 1px solid black; */
  width: 75%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  /* border: 1px solid blue; */
  width: 30.5%;
  height: 250px;
  margin: 15px;
  /* padding: 10px; */
  /* overflow: hidden; */
}

img#photo {
  /* border: 2px solid #0A46B7; */
  border-radius: 8px;
  width: 100%;
  height: 75%;
  object-fit: cover;
}

button#category {
  border: 0px;
  background: #F6FAFC;
}

.card-title {
  /* border: 1px solid red; */
  margin: 8px 2px;
  display: flex;
  justify-content: space-between;
}

.card-category {
  /* border: 1px solid blue; */
  margin: 8px 2px;
  display: flex;
  justify-content: space-between;
}

.errorPage {
  /* border: 1px solid green;  */
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

#btnHome {
  /* border: 1px solid red; */
}