<div class="cards">
    {% for image in images %}
    <div class="card">
        <img src="{{ url_for('static', filename=image.filename) }}" alt="{{ imgName }}" />
        <div class="card-title">
            <b> {{ image.title }} </b>
            <button id="favorite" onClick="location.href='/favorite'"> star </button>
        </div>
        <div class="card-category">
            <button id="home" onClick="location.href='/tags/{{ image.category }}'"> {{ image.category }} </button>
            <button id="delete" onClick="location.href='/delete/{{ image.id }}'"> x </button>
        </div>
    </div>
    {% endfor %}
</div>