<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Test Form </title>
    <link rel="stylesheet" href="test.css">
</head>
<body>
    <h1> Welcome to My Life! </h1>
    <form id="imageForm" action="/upload" enctype="multipart/form-data" method="POST"></form>
        <input type="text" id="title" name="title" placeholder="What are you uploading?" />
        <select id="category" name="category" placeholder="tags">
            <option disabled selected value> Select a category </option>
            <option value="home"> home </option>
            <option value="work"> work </option>
            <option value="school"> school </option>
            <option value="art"> art </option>
            <option value="music"> music </option>
            <option value="food"> food </option>
            <option value="travel"> travel </option>
            <option value="f&f"> friends & family </option>
            <option value="others"> others </option>
        </select>
        <input type="file" id="picture" name="picture" />
        <input type="submit" id="submit" value="Upload Picture" />
    </form>

    <hr>

    <div class="categories">
        <button id="home" onClick="location.href='/home'"> home </button>
        <button id="work" onClick="location.href='/work'"> work </button>
        <button id="school" onClick="location.href='/school'"> school </button>
        <button id="art" onClick="location.href='/art'"> art </button>
        <button id="music" onClick="location.href='/music'"> music </button>
        <button id="food" onClick="location.href='/food'"> food </button>
        <button id="travel" onClick="location.href='/travel'"> travel </button>
        <button id="friends & family" onClick="location.href='/friends & family'"> friends & family </button>
        <button id="others" onClick="location.href='/others'"> others </button>
    </div>

    <div class="cards">
        <div class="card">
            <img src="cousin-ritas-home.jpg" />
            <div class="card-title">
                <b> Cousin Rita's Home </b>
                <button id="favorite" onClick="location.href='/favorite'"> star </button>
            </div>
            <div class="card-category">
                <button id="home" onClick="location.href='/home'"> home </button>
                <button id="delete" onClick="location.href='/delete'"> x </button>
            </div>
        </div>

        <div class="card">
            <img src="work-from-home.jpg" />
            <div class="card-title">
                <b> Work from Home </b>
                <button id="favorite" onClick="location.href='/favorite'"> star </button>
            </div>
            <div class="card-category">
                <button id="home" onClick="location.href='/home'"> home </button>
                <button id="delete" onClick="location.href='/delete'"> x </button>
            </div>
        </div>

        <div class="card">
            <img src="group-study.jpg" />
            <div class="card-title">
                <b> Group Study </b>
                <button id="favorite" onClick="location.href='/favorite'"> star </button>
            </div>
            <div class="card-category">
                <button id="home" onClick="location.href='/home'"> home </button>
                <button id="delete" onClick="location.href='/delete'"> x </button>
            </div>
        </div>

        <div class="card">
            <img src="jens-painting.jpg" />
            <div class="card-title">
                <b> Jen's Painting </b>
                <button id="favorite" onClick="location.href='/favorite'"> star </button>
            </div>
            <div class="card-category">
                <button id="home" onClick="location.href='/home'"> home </button>
                <button id="delete" onClick="location.href='/delete'"> x </button>
            </div>
        </div>

        <div class="card">
            <img src="chon-at-audiotree.jpg" />
            <div class="card-title">
                <b> Chon @ Audiotree </b>
                <button id="favorite" onClick="location.href='/favorite'"> star </button>
            </div>
            <div class="card-category">
                <button id="home" onClick="location.href='/home'"> home </button>
                <button id="delete" onClick="location.href='/delete'"> x </button>
            </div>
        </div>

        <div class="card">
            <img src="garlic-naan.jpg" />
            <div class="card-title">
                <b> Garlic Naan </b>
                <button id="favorite" onClick="location.href='/favorite'"> star </button>
            </div>
            <div class="card-category">
                <button id="home" onClick="location.href='/home'"> home </button>
                <button id="delete" onClick="location.href='/delete'"> x </button>
            </div>
        </div>

        <div class="card">
            <img src="geneva-day-trip.webp" />
            <div class="card-title">
                <b> Day trip in Geneva </b>
                <button id="favorite" onClick="location.href='/favorite'"> star </button>
            </div>
            <div class="card-category">
                <button id="home" onClick="location.href='/home'"> home </button>
                <button id="delete" onClick="location.href='/delete'"> x </button>
            </div>
        </div>
        
    </div>
</body>
</html>