<div class="cards">
    {% for image in images %}
    <div class="card">
        <img id="photo" src="{{ url_for('static', filename=image.filename) }}" alt="{{ imgName }}" />
        <div class="card-title">
            <b> {{ image.title }} </b>
            {% if image.favorite == True %}
            <button id="favorited" onClick="location.href='/favorite/{{ image.id }}'"><i> in favorites </i></button>
            {% else %}
            <button id="favorite" onClick="location.href='/favorite/{{ image.id }}'"> favorite </button>
            {% endif %}
        </div>
        <div class="card-category">
            <button id="category" onClick="location.href='/tags/{{ image.category }}'"><i> {{ image.category }}
                </i></button>
            <button id="delete" onClick="location.href='/delete/{{ image.id }}'"> delete </button>
        </div>
    </div>
    {% endfor %}
</div>