{% extends 'base.html' %}

{% block title %} My Life - Home {% endblock %}

{% block content %}

<h1 onClick="location.href='/'"><span id="title"> Welcome to My Life! </span></h1>
<form id="imageForm" action="/" enctype="multipart/form-data" method="POST">
    <input type="text" id="title" name="title" placeholder="What are you uploading?" required />
    <select id="category" name="category" placeholder="tags" required>
        <option disabled selected value> Select a category </option>
        <option value="home"> home </option>
        <option value="work"> work </option>
        <option value="school"> school </option>
        <option value="art"> art </option>
        <option value="music"> music </option>
        <option value="food"> food </option>
        <option value="travel"> travel </option>
        <option value="friends&family"> friends & family </option>
        <option value="others"> others </option>
    </select>
    <input type="file" id="picture" name="picture" required />
    <input type="submit" id="submit" value="Upload Picture" />
</form>

<hr>

<div class="categories">
    <button id="home" onClick="location.href='/tags/home'"> home </button>
    <button id="work" onClick="location.href='/tags/work'"> work </button>
    <button id="school" onClick="location.href='/tags/school'"> school </button>
    <button id="art" onClick="location.href='/tags/art'"> art </button>
    <button id="music" onClick="location.href='/tags/music'"> music </button>
    <button id="food" onClick="location.href='/tags/food'"> food </button>
    <button id="travel" onClick="location.href='/tags/travel'"> travel </button>
    <button id="friends & family" onClick="location.href='/tags/friends&family'"> friends & family </button>
    <button id="others" onClick="location.href='/tags/others'"> others </button>
    <button id="favorites" onClick="location.href='/favorites'"> favorites </button>
</div>

{% include 'images.html' %}

{% endblock %}